{% extends 'app.php.twig' %}

{% block widget %}
{% if is_granted('ROLE_USER') %}
    <p>Админ может видеть это!</p>
{% endif %}
Не админ

    <p>user id = {{ app.user.id }}</p>
    <p>user name = {{ app.user.username }}</p>
    {{ test }}
{% endblock %}
