{% extends 'app.php.twig' %}

{% block widget %}


    {{ base_dir }}
    <div class="col-lg-12">
       <span>this is lucky number </span> {{ number }}
    </div>



{% endblock %}

{% block body %}




{% endblock %}